#heading{
	text-align: center;
}
#myCanvas{
	margin: auto;
	display: block;
	position: absolute;
	padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

}
/*body {
	background-color: white;
}*/