* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-color: darkgrey;
}

.controls {
	height: 50px;
	display: flex;
	background: #000;
	align-items: center;
	padding: 0px 15px;
}

.title {
	color: aqua;
}

.color {
	padding: 0px 15px;
	align-items: center;
}

label {
	color: aqua;
	align-items: center;
}

